body {
background-color: #BAD3E4;
}
.nav{
    background-color: #FFD774;
    font-family:'Muli', sans-serif;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  align-items: flex-start;
}

a{
    text-decoration: none;
    color: #CC915E;
}

a:visited{
    text-decoration: none;
    color: #04345C;
}

a:hover {
    text-decoration: underline solid;
  }

a{
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
  }

 #nimbustitle {
color: #04345C;
font-family: 'Fredoka One', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Varela Round', sans-serif;
font-weight: bold;
font-size: 30px;
position: absolute;
top: 9%;
left: 65.5%;
 }

#nimbustext {
color: #4C5D70;
font-size: 15px;
font-family:'Muli', sans-serif;
display:flex;
flex-direction: column;
align-items: center;
background-color: #EDF2F3;
border-radius: 60px;
width: 550px;
height: 500px;
position: absolute;
top: 20%;
left: 55%;
line-height: 2;
padding: 15px;
 }

#nimbus2 {
position: absolute;
top: 50%;
left: 3%;
}

#nimbus1 {
position: absolute;
top: 10%;
left: 1%;

}

#rainnimbus1 {
animation: rainanimation 3s ease-in .5s;
position: absolute;
top: 22%;
left: 6%;
}

@keyframes rainanimation {
0% {
  display: none;
}
50% {
left: 5;
}
100% {
display: none;
}
}
